.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 22px;
  margin-bottom: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cache-trash {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 6px;
    position: absolute;
}
.cache-trash::after,
.cache-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
 
.cache-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.cache-btn {
    margin-left: 30px;
    background: #007cba;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    min-width: 150px;
    font-weight: 600;
}
.cache-btn:hover {
  background: #2b2bff;
  transition: all 0.5s;
  box-shadow: 0px 6px 15px #0000ff61;
}